{% extends 'ts_template/ts_base_template.html' %}

{% block page_title %}
    Manage Reject
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <!--<a class="btn btn-primary" href="{% url 'ts_add_failure' %}" role="button">+ Add Reject Info</a> <br/>&nbsp;-->

            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Failure Info</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>Reject Bin No</th>
                                <th>Product FG Model</th>
                                <th>PCA Part Number</th>
                                <th>Test Station</th>
                                <th>Failure Mode</th>
                                <th>Failure Date</th>
                                <th>The status</th>
                                <th>Last Update</th>

                               

                                </tr>
                            </thead>
                            <tbody>
                                {% for failure in failure_info %}
                            
                                    <tr>
                                    <td>{{ failure.id }}</td>
                                    <td>{{ failure.reject_bin }}</td>
                                    <td>{{ failure.product_Model }}</td>
                                    <td>{{ failure.PCA_SN_Number }}</td>
                                    <td>{{ failure.test_Station }}</td>
                                    <td>{{ failure.failure_mode }}</td>
                                    <td>{{ failure.failure_date }}</td>
                                    <td>{{ failure.failure_status }}</td>
                                    <td>{{ failure.completion_date}}</td>
                                    
                                  {%if failure.failure_status == "OPEN"%}
                                    <td> 
                                      <a href="{% url 'ts_edit_failure' failure.id %}" class="btn btn-success">Update</a>
                                      <a href="{% url 'ts_delete_failure' failure.id %}" class="btn btn-danger">Delete</a>
                                    </td>
                                  {% endif %}
                                    </tr>
                                  
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}