{% extends 'ts_template/ts_base_template.html' %}

{% block page_title %}
    Manage Reject
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <!--<a class="btn btn-primary" href="{% url 'ts_add_failure' %}" role="button">+ Add Reject Info</a> <br/>&nbsp;-->

            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <!--<div class="card-header">
                            <h3 class="card-title">Search Reject Info</h3>
                            <input class="form-control" id="myInput" type="text" placeholder="Type anything here to search">
                            <br>
                        </div>-->
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0" style="height: 800px; overflow-y: auto;">
                            <table class="table table-sm table-hover table-bordered text-nowrap"
                            id="table"
                            data-pagination="true"
                            data-search="true"
                            data-show-toggle="false"
                            data-toolbar=".toolbar"
                            data-use-row-attr-func="true"
                            data-reorderable-rows="true">
                            <thead class="thead-dark" style="position: sticky;top: 0">
                                <tr>
                                <!--<th>ID</th>-->
                                <th data-sortable="true">Reject status</th>
                                <!--<th>Reject Bin No</th>-->
                                <th data-sortable="true">Test Station</th>
                                <th data-sortable="true">Product FG Model</th>
                                <th data-sortable="true">PCA Serial No.</th>
                                <!--<th data-sortable="true">PCA Part No.</th>-->
                                <th data-sortable="true">Failure Mode</th>
                                <th data-sortable="true">Failure Date</th>
                                <th data-sortable="true">Root Cause</th>
                                <th data-sortable="true">The Findings</th>
                                <th data-sortable="true">Action Taken</th>
                                <th data-sortable="true">Last Update</th>
                                <th class="export-exclude">Update Items</th>

                               

                                </tr>
                            </thead>
                            <tbody id="myTable">
                                {% for failure in failure_info %}

                                {%if failure.failure_Category != "Escalation"%}
                            
                                    <tr>
                                    <!--<td>{{ failure.id }}</td>-->
                                    <td>{{ failure.failure_status }}</td>
                                    <!--<td>{{ failure.reject_bin }}</td>-->
                                    <td>{{ failure.test_Station }}</td>
                                    <td>{{ failure.product_Model }}</td>
                                    <td>{{ failure.PCA_serial }}</td>
                                    <!--<td>{{ failure.PCA_SN_Number }}</td>-->
                                    <td>{{ failure.failure_mode }}</td>
                                    <td>{{ failure.failure_date|date:"SHORT_DATE_FORMAT"}} {{ failure.failure_date|time:"h:i a"}}</td>
                                    <td>{{ failure.root_cause }}</td>
                                    <td>{{ failure.Findings }}</td>
                                    <td>{{ failure.failure_action }}</td>
                                    <td>{{ failure.completion_date|date:"SHORT_DATE_FORMAT"}} {{ failure.completion_date|time:"h:i a"}}</td>
                                    
                                  {%if failure.failure_status == "OPEN"%}
                                    <td class="export-exclude"> 
                                      <a href="{% url 'ts_edit_failure' failure.id %}" class="btn btn-success">Update Reject</a>
                                      <!--<a href="{% url 'ts_delete_failure' failure.id %}" class="btn btn-danger">Delete</a>-->
                                      <!--<div class="btn-group dropright">
                                        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Delete?</button>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">No, Abort</a></li>
                                          <li><a class="dropdown-item" href="{% url 'ts_delete_failure' failure.id %}">Yes, Proceed</a></li>
                                        </ul>
                                      </div>-->
                                    </td>
                                  {% endif %}
                                    </tr>
                                  {% endif %}
                                  
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <script>
                          $(document).ready(function(){
                          $("#myInput").on("keyup", function() {
                          var value = $(this).val().toLowerCase();
                          $("#myTable tr").filter(function() {
                          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            });
                          });
                        });

                        $('#table').bootstrapTable()
                        
                        </script>

                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
        <!--<div>
          <button type="button" onclick="tableToCSV()">Download CSV File</button>
        </div>-->
        
        <script>
          function tableToCSV() {
  
              // Variable to store the final csv data
              let csv_data = [];
  
              // Get each row data
              let rows = document.getElementsByTagName('tr');
              for (let i = 0; i < rows.length; i++) {
  
                  // Get each column data
                  let cols = rows[i].querySelectorAll('td:not(.export-exclude), th:not(.export-exclude)');
  
                  // Stores each csv row data
                  let csvrow = [];
                  for (let j = 0; j < cols.length; j++) {
  
                      // Get the text data of each cell
                      // of a row and push it to csvrow
                      csvrow.push(cols[j].innerHTML);
                  }
  
                  // Combine each column value with comma
                  csv_data.push(csvrow.join(","));
              }
  
              // Combine each row data with new line character
              csv_data = csv_data.join('\n');
  
              // Call this function to download csv file  
              downloadCSVFile(csv_data);
  
          }
  
          function downloadCSVFile(csv_data) {
  
              // Create CSV file object and feed
              // our csv_data into it
              CSVFile = new Blob([csv_data], {
                  type: "text/csv"
              });
  
              // Create to temporary link to initiate
              // download process
              let temp_link = document.createElement('a');
  
              // Download csv file
              temp_link.download = "DebugTempData.csv";
              let url = window.URL.createObjectURL(CSVFile);
              temp_link.href = url;
  
              // This link should not be displayed
              temp_link.style.display = "none";
              document.body.appendChild(temp_link);
  
              // Automatically click the link to
              // trigger download
              temp_link.click();
              document.body.removeChild(temp_link);
          }
      </script>
      </section>

  {% endblock main_content %}