{% extends 'operator_template/opt_base_template.html' %}

{% block page_title %}
    Add Reject
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                  <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Reject Details</h3>
                    </div>
                  </div>

                  <div>
                    <label>Step 1 - Refresh Dataset : </label>
                    <a href="{% url 'opt_search_PCA' %}" class="btn btn-dark btn-sm">Refresh</a>
                  </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                  <div>
                    <form method="GET">
                      <div>
                        <label>Step 2 - Select Station : </label>
                        <input name="F_Station" type="radio" value="Manual Test" />Manual Test</input> &nbsp;
                        <input name="F_Station" type="radio" value="Temperature Test" />Temperature Test</input> &nbsp;
                        <input name="F_Station" type="radio" value="Calibration" />Calibration</input> &nbsp;
                        <input name="F_Station" type="radio" value="Final Test" />Final Test</input> &nbsp;
                        <input name="F_Station" type="radio" value="Jaw Balance" />Jaw Balance</input> &nbsp;
                        <input name="F_Station" type="radio" value="PCA Burn In" />PCA Burn In</input> &nbsp;
                      </div>

                      <!--<input type="text" name="query" placeholder="Search by product model" value="{{ request.GET.query }}">-->
                      <label>Step 3 - Select FG Model : </label>
                      <select class="form-control" name="query" value="{{ request.GET.query }}" >
                        <option>{{ " " }}</option>
                          {% for model in FGmodel_list %}
                            <option> {{ model }}</option>
                          {% endfor %}
                      </select> <button type="submit">Get FG model Info</button>
                    </form>
                  <div>

                    <form role="form" method="POST" action="{% url 'opt_add_failure_save' %}">
                        {% csrf_token %}

                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                                <div> ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
                                
                            <div class="card-body">

                              <div class="form-group">
                                <label>Product Family Model : </label>
                                <select class="form-control" name="model" readonly>
                                      {% for model in PCA_SN %}
                                  <option> {{ model.product_Model }}</option>
                                      {% endfor %}
                                <!--{% for SN in PCA_SN %}
                                <option> {{ SN.product_Model }}</option>
                                {% endfor %}-->
                              </select> 
                              </div>

                              <div class="form-group">
                                <label>Product FG Model : </label>
                                <select class="form-control" name="FG_model" readonly>
                                      {% for model in PCA_SN %}
                                  <option> {{ model.FG_Model }}</option>
                                      {% endfor %}
                                <!--{% for SN in PCA_SN %}
                                <option> {{ SN.product_Model }}</option>
                                {% endfor %}-->
                              </select> 
                              </div>

                              <div class="form-group">
                                <label>Test Cells : </label>
                                <select class="form-control" name="cells" readonly >
                                {% for SN in PCA_SN %}
                                <option> {{ SN.test_Cells }}</option>
                                {% endfor %}
                              </select>
                              </div>

                              <div class="form-group">
                                <label>Select PCA Part No : </label>
                                <select class="form-control" name="PCA_PN" readonly>
                                  {% for SN in PCA_SN %}
                                  <option> {{ SN.PCA_SN_Number }}</option>
                                      {% endfor %}
                                <!--{% for SN in PCA_SN %}
                                <option> {{ SN.PCA_SN_Number }}</option>
                                {% endfor %}-->
                              </select>
                              </div>

                              <!--<div class="form-group">
                                <label>Select Test Station : </label>
                                <select class="form-control" name="station">
                                  {% for station in station_name %}
                                    <option>{{ station.station_Name }}</option>
                                  {% endfor %}
                                </select>
                              </div>-->

                              <div class="form-group">
                                <label>Test Station : </label>
                                <input type="text" class="form-control" name="Test_Station" value= "{{ F_Station }}" readonly>
                              </div>

                              <!--<div class="form-group">
                                <label>Reject Bin No : </label>
                                <input type="text" class="form-control" name="reject_bin" placeholder="Enter Reject Bin No.">-->
                                <!--<select class="form-control" name="FGmodel" readonly>
                                {% for SN in PCA_SN %}
                                <option> {{ SN.FG_Model }}</option>
                                {% endfor %}
                              </select>-->
                              </div>

                              <div class="form-group">
                                <label>PCA Serial No : </label>
                                <input type="text" class="form-control" name="PCA_Serial" placeholder="Enter PCA SN.">
                              </div>

                                <div class="form-group">
                                  <label>Select Failure Mode : </label>
                                  <select id= "F_mode" class="form-control select2 input-lg" name="failure_mode">
                                    {% for failure in F_mode %}
                                      <option>{{ failure.failure_Mode }}</option>
                                    {% endfor %}
                                  </select>
                                </div>

                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Add Reject Info</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

            <script>
              //$('.select2').select2();
              $(function() {
                // choose target dropdown
                var select = $('#F_mode');
                select.html(select.find('option').sort(function(x, y) {
                  // to change to descending order switch "<" for ">"
                  return $(x).text() > $(y).text() ? 1 : -1;
                }));
              
                // select default item after sorting (first item)
                // $('select').get(0).selectedIndex = 0;
              });
            </script>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}