{% extends 'admin_template/base_template.html' %}

{% block page_title %}
    Edit Failure Mode | #ID : {{ failure_mode.id }}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Failure Mode</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'edit_failuremode_save' %}">
                        {% csrf_token %}

                        
                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                          

                            <div class="card-body">

                              <div class="form-group">
                                <label>Test Cells :</label>
                                <input type="text" name="failuremode_cells" value="{{ failure_mode.test_Cells }}" readonly/>
                      
                                <label>Test Station : </label>
                                <input type="text" name="failuremode_station" value="{{ failure_mode.test_Station }}" readonly/>
                              </div>
                        
                              <div class="form-group">
                                <label>Failure Mode </label>
                                <input type="text" class="form-control" name="failure_mode" value="{{ failure_mode.failure_Mode }}">
                              </div>

                              <input type="hidden" name="failuremode_id" value="{{ failure_mode.id }}" />
                                
                            </div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Update Cells</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}