{% extends 'admin_template/base_template.html' %}

{% block page_title %}
    Manage SKU
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <a class="btn btn-primary" href="{% url 'add_sku' %}" role="button">+ Add SKU</a> <br/>&nbsp;

            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Search SKU Details</h3>
                            <input class="form-control" id="myInput" type="text" placeholder="Type anything here to search">
                            <br>

                            <!--<div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>-->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0" style="height: 600px; overflow-y: auto;">
                            <table class="table table-sm table-hover text-nowrap">
                            <thead class="table-dark" style="position: sticky;top: 0">
                                <tr>
                                <!--<th>ID</th>-->
                                <th>Cells Name</th>
                                <th>Product Family</th>
                                <th>FG Part Number</th>
                                <th>FG Model</th>
                                <th>PCA Part Number</th>
                                <th>Product status</th>
                                <th>Edit/Delete</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                {% for sku in sku_info %}
                                <tr>
                                <!--<td>{{ sku.id }}</td>-->
                                <td>{{ sku.test_Cells }}</td>
                                <td>{{ sku.product_Model }}</td>
                                <td>{{ sku.FG_PartNo }}</td>
                                <td>{{ sku.FG_Model }}</td>
                                <td>{{ sku.PCA_SN_Number }}</td>
                                <td>{{ sku.product_Status }}</td>
                                <td>
                                    <a href="{% url 'edit_sku' sku.id %}" class="btn btn-success">Edit</a> 
                                    <!--<a href="{% url 'delete_sku' sku.id %}" class="btn btn-danger">Delete</a>-->
                                
                                    <!--<div class="btn-group dropright">-->
                                      <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Delete?</button>
                                      <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">No, Abort</a></li>
                                        <li><a class="dropdown-item" href="{% url 'delete_sku' sku.id %}">Yes, Proceed</a></li>
                                      </ul>
                                    <!--</div>-->
                                
                                  </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->

                        <script>
                          $(document).ready(function(){
                          $("#myInput").on("keyup", function() {
                          var value = $(this).val().toLowerCase();
                          $("#myTable tr").filter(function() {
                          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            });
                          });
                        });
                        </script>
                        
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}