{% extends 'admin_template/base_template.html' %}

{% block page_title %}
    Manage Stations
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <a class="btn btn-primary" href="{% url 'add_station' %}" role="button">+ Add Test Station</a> <br/>&nbsp;

            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Test station Details</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-sm table-hover text-nowrap">
                            <thead class="table-dark">
                                <tr>
                                <!--<th>ID</th>-->
                                <th>Stations Name</th>
                                <!--<th>Registered on</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                {% for station in station_name %}
                                <tr>
                                <!--<td>{{ station.id }}</td>-->
                                <td>{{ station.station_Name }}</td>
                                <!--<td>{{ station.date_registered }}</td>-->
                                <td>
                                  <!-- edit & delete -->
                                <a href="{% url 'edit_station' station.id %}" class="btn btn-success">Edit</a>
                                <a href="{% url 'delete_station' station.id %}" class="btn btn-danger">Delete</a>
                        
                                </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}